= form_for @schedule do |form| 
  = form.label(:race_type, 'Race Type')
  = form.select(:race_type, Race::RACE_TYPES.invert.to_a)
  %br
  = form.label(:race_date, 'Race Date')
  = form.text_field(:race_date, :id => 'datepicker')
  %br
  %div#radio
    Long Run Day:
    = form.radio_button(:long_run_on_sunday, false, { id: 'radio1' })
    = label_tag('radio1', 'Saturday')
    = form.radio_button(:long_run_on_sunday, true, { id: 'radio2', checked: true })
    = label_tag('radio2', 'Sunday')
  %br
  = form.submit('Download Schedule')

:javascript
  $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd', minDate: 0 });
  $( "#radio" ).buttonset();
  $( "button, input:submit").button();
