= form_for @schedule do |form| 
  = form.label(:race_type, 'Race Type')
  = form.select(:race_type, Race::RACE_TYPES.invert.to_a)
  = form.label(:race_date, 'Race Date')
  = form.text_field(:race_date, :id => 'datepicker')
  %table
    %thead
      %tr
      %td Long Run Day
    %tbody
      %tr
        %td Saturday
        %td= form.radio_button(:long_run_on_sunday, 'Saturday')
      %tr
        %td Sunday
        %td= form.radio_button(:long_run_on_sunday, 'Sunday', { checked: true })
  = form.submit('Download Schedule')

:javascript
  $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd', minDate: 0 });
