= form_for @schedule do |form| 
  = form.label(:runner_sex, 'Sex')
  = form.text_field(:runner_sex)
  = form.label(:runner_age, 'Age')
  = form.number_field(:runner_age, :min => 12)
  = label_tag('ten_k_time', '10k Time')
  = text_field_tag('ten_k_time')
  = form.label(:race_type, 'Race Type')
  = form.text_field(:race_type)
  = form.submit
